.product-list{
    margin:1rem
}
.product-list-heading{
    font-weight: 600;
    text-align: left;
    font-family: "GalanoGrotesqueMedium";
    display: flex;
    margin-bottom: 1rem;
    align-items: center
}

.product-count{
    color:#FFF;
    background-color: #146eb4;
    padding:0.3125rem;
    font-size: 0.75rem;
    border-radius: 0.25rem;
    margin-left: 0.25rem;
}